<div>
  <h3>Contacto y Redes Sociales</h3>

  <ul class="list-group">
    <li class="list-group-item">
      <!-- <a href="mailto:@gmail.com">Enviar correo electrónico</a> -->
      <a href="https://mail.google.com/mail/?view=cm&to=guido.cipo20@gmail.com"
        >Enviar correo electrónico</a
      >
    </li>

    <li class="list-group-item list-group-item-secondary">
      <a class="whatsapp-button" href="https://wa.me/5492262646321"
        >Contactar por WhatsApp</a
      >
    </li>
    <li class="list-group-item list-group-item-primary">
      <a href="https://www.linkedin.com/in/guido-cipolletti-9747b61a3">
        LinkedIn</a
      >
    </li>
    <li class="list-group-item list-group-item-secondary">
      GitHub: Para obtener informacion por favor comunicarse por alguna red
      social.
    </li>
  </ul>
</div>
