

<h1>¡Hola y bienvenidos!</h1>

<div class="carrusel">
<img  src="../assets/imagen0.png" class="imagenes-carrusel" alt="">

<img class="imagenes-carrusel" src="../assets/imagen2.jpg" alt="">
<img class="imagenes-carrusel" src="../assets/imagen3.png" alt="">


</div>
<div class="Cont-Text">


<p> Soy un desarrollador de software apasionado, siempre dispuesto a aprender y adaptarme a las nuevas tecnologías. Comencé en el mundo del desarrollo en 2012 con Visual Basic y, tras un par de años alejado de la actividad, volví al ruedo y me enfoqué en el desarrollo web, comenzando con PHP y luego incursionando en otros lenguajes como Python y JavaScript.</p>
<p>Actualmente lidero un equipo de trabajo en el que nos enfocamos en desarrollar aplicaciones de software orientadas al área de la economía y finanzas, así como también en el comercio electrónico. Como líder, me gusta dar espacio a las opiniones y fomentar la creatividad individual de cada miembro del equipo, lo que nos ha permitido generar sitios web muy diversos en cuanto a contenido, navegación y diseño. Para mí, es fundamental lograr un equilibrio entre funcionalidad y estética, siempre buscando la mejor experiencia de usuario posible.  </p>
<p>Puedo ayudar a las empresas y equipos de trabajo brindando soluciones tecnológicas a medida para satisfacer sus necesidades específicas. A través de mi experiencia en el desarrollo de software, puedo ayudarles a mejorar la eficiencia, la productividad y la satisfacción del cliente mediante la creación de software sostenible y amigable con el usuario. Además, como líder de equipo experimentado, puedo ayudar a las empresas a mejorar su proceso de gestión de proyectos y fomentar la creatividad y la innovación en el equipo.</p>
<p>Mis clientes y compañeros de trabajo recomiendan mi trabajo como desarrollador de software, por mi compromiso con la calidad, mi habilidad para resolver problemas y mi capacidad para entender y satisfacer las necesidades del cliente. </p>
<p> Por otro lado como  líder de equipo , mi capacidad para trabajar, también valoran  mi enfoque colaborativo y mi disposición a adaptarme a nuevas tecnologías y soluciones.</p>
<p>En resumen, mi objetivo como desarrollador de software es crear aplicaciones sostenibles y amigables con el usuario, mientras que como líder de equipo, me enfoco en mantener un ambiente de trabajo agradable y creativo. ¡Gracias por visitar mi sitio web!</p>

<h2>
  Links de interes
</h2>
<ul class="links-interes">
  <li>
    <a href="https://www.linkedin.com/in/guido-cipolletti-9747b61a3/">Linkeding</a>
  </li>
  <li>
    <a href="https://github.com/doguidv">GitHub</a>
  </li>
</ul>

</div>