<header>
  <h1>Guido,Cipolletti: Desarrollador Web Full Stack</h1>
  <p>
    Desarrollador Web Full Stack: Creando Experiencias Digitales Innovadoras
  </p>
</header>

<section>
  <div class="content">
    <h3>Habilidades</h3>
    <ul>
      <li>Lenguajes de programación: Php,Python, JavaScript</li>
      <li>No lenguajes de programación: html,css</li>

      <li>Frameworks y bibliotecas: Angular,Django</li>
      <li>Diseño de interfaces de usuario</li>
      <li>Bases de datos: MySQL, MongoDB,PostgreSql</li>
      <li>Herramientas y tecnologías adicionales: Git, Bootstrap</li>
    </ul>
  </div>
</section>

<section>
  <div class="content">
    <h3>Experiencias:</h3>
    <p>Algo de mi experiencia</p>
    <ul>
      <li>Sitios web</li>
      <li>Apps</li>
      <li>Alojamiento compartido y servidores Con Sist.Ope Ubuntu</li>
    </ul>
  </div>
</section>

<section>
  <div class="content">
    <h3>Proyectos Destacados</h3>

    <article>
      <div>
        <p>
          Descripción: Este proyecto consistió en desarrollar una aplicación web
          orientada a la gestion financiera. Mi rol principal fue el de
          desarrollado back-end, encargado de la base de datos y la gestion de
          la informacion para ser dirigida al usuario.
        </p>
        <p>
          Tecnologías utilizadas: Todo comenzo con angular y bases de datos
          Nosql, pero poco funciono, tiempo despues comence con la
          refactorizacion y fue donde aprendi a utilizar python para la gestion
          de los datos y Django como framework
        </p>
        <p>
          Enlace:
          <a href="http://hillsdigitalworks.ddns.net/">Enlace al Proyecto 1</a>
        </p>
      </div>
    </article>

    <article>
      <div class="content">
        <h4>Proyecto 2: hillsdigitalworks</h4>
        <p>
          Descripción: sitio web orientado a venta de servicios digitales. Todo
          comenzo cuando decidi incorporar al equipo un diseñador grafico y se
          nos ocurrio comenzar con el proyecto. Aun sigue en desarrollo
        </p>
        <p>Tecnologías utilizadas: python, Django, html, css.</p>
        <p>Enlace: <a href="">Enlace al Proyecto 2</a></p>
      </div>
    </article>
  </div>
</section>

<section>
  <div class="content">
    <h3>Detalles sobre el Desarrollo</h3>
    <p>
      En cada proyecto, enfrenté desafíos como la optimización del rendimiento,
      la implementación de funcionalidades complejas y la solución de problemas
      de compatibilidad entre navegadores. A través de mi experiencia y
      conocimientos, pude superar estos desafíos y entregar proyectos exitosos y
      de alta calidad.
    </p>
  </div>
</section>

<section>
  <h3>Algun diseño para ver</h3>
  <p>Puedes ver el caos</p>
  <a href="name-list">En el siguiente link</a>
</section>
<section>
  <div class="content">
    <h3>Resultados y Logros</h3>
    <p>
      Durante mi carrera, he logrado mejorar la eficiencia de los procesos
      empresariales al desarrollar soluciones web personalizadas. Además, he
      recibido comentarios positivos de clientes y usuarios finales sobre la
      facilidad de uso y la experiencia intuitiva de las aplicaciones que he
      creado.
    </p>
  </div>
</section>

<section>
  <div class="content">
    <h3>Educación y Certificaciones</h3>
    <ul>
      <li>Tecnico Informatico, Colegio Tecnico , Año de 2012</li>
      <li>
        Tecnico universitario ,Facultad de ciencias exactas UNICEN, Año de
        Finalización: 2023.
      </li>
    </ul>
  </div>
</section>
