/* Estilos para el carrusel */
.carrusel {
    display: flex;
    height: 280px;
    margin-top: 15vh;
    padding-left: 30vw;
    padding-right: 30vw;
  }
  
  .imagenes-carrusel {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: all .3s ease-in-out;
  }
  
  .imagenes-carrusel:hover {
    cursor: crosshair;
    width: 750px;
    opacity: 1;
    filter: contrast(120%);
  }
  
  /* Estilos para el contenido de texto */
  .Cont-Text{
    margin-top: 12%;
    text-indent: 4px;
    text-justify: inter-word;
  }
  
  /* Estilos para los enlaces de interés */
  .links-interes {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .links-interes li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .links-interes li:last-child {
    margin-right: 0;
  }
  
  .links-interes a {
    display: inline-block;
    background-color: #ADD8E6;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  .links-interes a:hover {
    background-color: #87CEFA;
  }
  