table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5%;
  th,
  td {
    border: 1px solid #ccc;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #e0e0e0;
  }

  @keyframes changePositionEven {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  @keyframes changePositionOdd {
    0%,
    100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
  }
}

/* Estilo para el contenedor del número de la clave hash */
.hash-container {
  display: inline-block;
  animation-name: shuffle;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Animación para mezclar los dígitos del número */
@keyframes shuffle {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}
